/* Generales */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

/*Area Grid*/

body {
    width: 100%;
    height: 100vh;
}

.gridArea {
    display: grid;
    grid-template-columns: 100% 0%;
    grid-template-areas:
        "head head"
        "logo logo"
        "vid vid"
        "1F1C 1F2C"
        "2F1C 2F2C"
        "pagos pagos"
        "map map"
        "pie pie"
    ;
}

header {
    grid-area: head;
}

#logoCentral {
    grid-area: logo;
}

#videoIndex {
    grid-area: vid;
}

#fila1Columna1 {
    grid-area: 1F1C;
}

#fila1Columna2 {
    grid-area: 1F2C;
}

#fila2Columna1 {
    grid-area: 2F1C;
}

#fila2Columna2 {
    grid-area: 2F2C;
}

#pagosIndex {
    grid-area: pagos;
}

#mapaIndex {
    grid-area: mapa;
}

footer {
    grid-area: pie;
}

/* Generales */
.textoCentrado,
h1 {
    text-align: center;
}

.margenChico {
    margin-left: 10px;
}

/*Colores y fondos */
body {
    background-color: #EAE9F0;
}

footer {
    background-color: #9ABEDB;
}

.titulo,
.subtitulo,
h1,
h2,
h3 {
    color: #297abd;
}

/*Diseño del separador*/
hr {
    margin-left: 0px;
    border: 2px solid #297abd;
    border-radius: 2px;
}

/* Barra de navegacion*/
.topNav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    overflow: hidden;
    background-color: #9ABEDB;
    list-style-type: none;
    width: 100%;
    text-align: center;
}

.topNav li {
    display: block;
}

.topNav li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: #FAD6D4;
}

.topNav li a:hover,
.subNav:hover {
    background-color: #D9FFF4;
    color: black;
}

.topNav li a.active {
    background-color: #D9FFF4;
}

/* sub menu de navegacion */
.subNav {
    overflow: hidden;
    background-color: #9ABEDB;
    float: right;
}

.subNav {
    text-decoration: none;
    font-size: 20px;
    color: #FAD6D4;
}

.subNavContenido {
    display: none;
    position: absolute;
    border: solid #FAD6D4;
    right: 0;
    top: 108px;
    right: 0px;
    background-color: #9ABEDB;
    width: 98.3%;
    z-index: 1;
}

.subNavContenido a {
    float: left;
}

.subNavContenido a:hover {
    background-color: #D9FFF4;
    color: black;
}

.subNav:hover .subNavContenido {
    display: block;
}

/* logo */
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 75%;
    width: 10%;
}

/*Fin Generales*/

/*Index*/

/*Videos del index*/
.indexVid {
    border: solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 315px;
    width: 100%;
}

/*Diseño de Imagenes y texto en Index*/
.imagenesSubTexto {
    float: left;
    width: 100%;
    z-index: -1;
}

/*Diseño del mapa*/
.mapa {
    margin-left: 1%;
    border: solid;
    width: 98%;
    height: 450;
}

/*Media Queries index*/
@media (min-width:481px) and (max-width: 768px) {
    .topNav {
        flex-direction: row-reverse;
        width: auto;
        text-align: none;
    }

    .indexVid {
        width: 560px;
    }

    .subNavContenido {
        top: 54px;
        right: 200px;
        width: 480px;
    }
}

@media (min-width:769px) {
    .topNav {
        flex-direction: row-reverse;
        width: auto;
        text-align: none;
    }

    .indexVid {
        width: 560px;
    }

    .subNavContenido {
        top: 54px;
        right: 200px;
        width: 480px;
    }

    .imagenesSubTexto {
        width: 50%;
    }

}

/*Fin index*/

/*Productos*/
/*Diseño de tabla*/
table,
th,
td {
    border: 1px solid black;
}

.contenedorTabla {
    display: flex;
    justify-content: center;
}

table {
    background-color: #E3DEE3;
    text-align: center;
    vertical-align: middle;
    width: 65%;
}

.titulosColumnas {
    font-weight: bold;
    font-size: 19px;
    color: #297abd;
}

table tr td {
    padding: 20px;
}

/*Estilos de las listas dentro de la tabla*/
table tr td ul {
    list-style-position: inside;
    list-style-type: square;
    text-align: left;
}

table tr td ol {
    list-style-type: circle;
    text-align: left;
}

/*Estilos paginas productos individuales*/
.tituloProductos {
    text-align: center;
    font-size: 400%;
    color: #297abd;
}

/*Diseño de imagenes de modelos*/
.tituloGaleria {
    text-align: center;
}

.contenedorGaleria {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-evenly;
}

.celdaGaleria {
    width: calc(93%/3);
    margin: 1%;
}

.responsiveImgGaleria {
    max-width: 100%;
    display: inline-block;
}

/*Transicion imagenes de galerias*/
.transicionScaleOnClick {
    transition: width 4s;
}

.transicionScaleOnClick:active {
    width: 60%;
    justify-content: center;
}

.whatsappbutton {
    background-color: #7ACC72;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 5px;
    margin-top: 10px;
    width: fit-content;
    cursor: pointer
}

/*Fin productos*/

/*Nosotros*/

.whatsappbutton a {
    text-decoration: none;
}

/*Fin Nosotros*/

/*Presupuestos*/

/*Diseño adicionales*/
.cajaAdicionales {
    border: solid;
    width: 160px;
}

/*Fin Presupuestos*/

/*Diseño formularios*/

form {
    margin-left: 10px;
    display: table;
}

form p {
    display: table-row;
}

form p label {
    display: table-cell;
}

form p input {
    display: table-cell;
}

form p select {
    display: table-cell;
}

/*Fin Diseño formularios