/* Se incluyeron separadores en el index donde hay varias secciones 
y se nombro acorde con camelCase todas las variables con nombre de mas de una palabra*/


*{
    margin:0;
    padding: 0;
}
/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html{
    font-family: 'Roboto', sans-serif;
}

/* Barra de navegacion*/
.topNav {
    overflow: hidden;
    background-color: #9ABEDB;
}
.topNav a{
    display: block;
    float: right;            
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: #FAD6D4;
}

.topNav a:hover, .sunNav:hover {
background-color: #D9FFF4;
color: black;
}
.topNav a.active {
    background-color: #D9FFF4;    
}
/* sub menu de navegacion */
.subNav{    
    overflow: hidden;
    background-color: #9ABEDB;
    float: right;
}
.subNav{
    text-decoration: none;
    font-size: 20px;
    color: #FAD6D4;
    border: none;
    outline: none;
    color: #FAD6D4;    
    background-color: inherit;
    font-family: inherit;
  }

  .subNavContenido {
    display: none;
    position: absolute;
    border: solid;
    right: 0;
    top: 54px;
    right: 200px;
    background-color: #9ABEDB;
    width: 500px;
    z-index: 1;
  }
  
  .subNavContenido a {
    float: right;
    color: black;
    text-decoration: none;
  }
  
  .subNavContenido a:hover {
    background-color: #D9FFF4;
    color: black;
  }
  
  .subNav:hover  .subNavContenido {
    display: block;
  }

/*Colores y fondos generales*/
body{
background-color: #EAE9F0;
}

footer{
background-color: #9ABEDB;
}

.titulo, .subtitulo, h2, h3{
    color: #297abd;
}

/*Diseño del separador*/
hr{
    border: 2px solid #297abd;
    border-radius: 2px;
}
/* logo */
.logo
{    
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 75%;
    width: 10%;
}

/*Videos del index*/
.indexVid{
    border:solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 315px;
    width: 560px;
}
/*Diseño de Imagenes y texto en Index*/
.fila1{
    position: relative;
    width: 100%;
    height: 529px;
}
.fila2{
    position: relative;
    width: 100%;   
    height: 705px;
}
.imagenesSubTexto{
    float: left;    
    width: 50%;
    z-index: -1;
}
.textoGeneralImagenes{
    position: absolute;
    font-weight: bold;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    z-index: 1;
}
.titulosHome{
    top: 8px;
    font-size: 40px;
}
.textosHome{
    top: 70px;
    font-size: 20px;
    max-width: 45%;
}
.izquierdaHome{
left: 5px;
}
.derechaHome{
right: 5px;
}

/*Diseño del mapa*/
.mapa{
    border:solid;
    width:100%;
    height: 450;
}

/*Diseño de tabla*/
table, th, td {
    border: 1px solid black;
  }

table
{
    margin: 5px;
    background-color: #E3DEE3;
    text-align: center;
    vertical-align: middle;    
    width: 65%;
}
.titulosColumnas{    
    font-weight:bold;
    font-size: 19px;
    color: #297abd;
}
table tr td{    
    padding: 20px;
}
/*Estilos de las listas dentro de la tabla*/
table tr td ul{
    list-style-position: inside;
    list-style-type: square;
    text-align: left;
}
table tr td ol{    
    list-style-type: circle;  
    text-align: left;
}
/*Diseño adicionales*/
.cajaAdicionales{
    border:solid;
    width: 160px;
}
/*Estilos paginas productos individuales*/
.tituloProductos{
    text-align: center;
    font-size: 400%;
    color: #297abd;
}
.galeriaVariantes{
    border: solid;
    background-color: #E3DEE3;
    margin: 1%;
    width: 98%;    
    height: 300px;
}
